* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  align-items: center;
  gap: 10%;
}

.simple-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  gap: 20px;
}
.simple-buttons__title {
  text-align: center;
  grid-column: span 3;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
  width: 100%;
}
.simple-buttons__one {
  padding: 10px 30px;
  border-radius: 30px;
  border: 3px solid black;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__two {
  padding: 11px 21px;
  border-radius: 10px;
  border: none;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__three {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #2463eb;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__four {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2463eb;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__four span {
  font-size: 20px;
  font-weight: 900;
}
.simple-buttons__five {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1), 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.simple-buttons__six {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(-45deg, #af54ee, #e549a3);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.animated-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  gap: 20px;
}
.animated-buttons__title {
  text-align: center;
  grid-column: span 3;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
  width: 100%;
}
.animated-buttons__one {
  padding: 11px 21px;
  border-radius: 10px;
  border: none;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.animated-buttons__one:hover {
  background-color: #fff;
  color: #1f2937;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1), 2px 2px rgba(0, 0, 0, 0.1);
}
.animated-buttons__two {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.animated-buttons__two:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: -2;
}
.animated-buttons__two:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.animated-buttons__two:hover {
  color: #fff;
}
.animated-buttons__two:hover:before {
  width: 100%;
}
.animated-buttons__three {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(140deg, rgb(255, 133, 27), rgb(253, 15, 190));
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.animated-buttons__three:hover {
  background: linear-gradient(140deg, rgb(253, 15, 190), rgb(255, 133, 27));
}
.animated-buttons__three:hover::before {
  background: transparent;
}
.animated-buttons__three::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 94%;
  height: 88%;
  background: rgb(16, 24, 38);
  border-radius: 10px;
  top: 6%;
  left: 3%;
  transition: all 0.3s ease;
}
.animated-buttons__four {
  padding: 10px 20px;
  border: none;
  background: white;
  color: rgb(148, 51, 233);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: inset -0.5px -0.5px 2px 0.5px lightgray;
}
.animated-buttons__four:hover {
  color: white;
  background: transparent;
}
.animated-buttons__four:hover::before {
  top: 0;
  left: 0;
}
.animated-buttons__four::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(148, 51, 233);
  top: 10%;
  left: 5%;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.animated-buttons__five {
  padding: 10px 30px;
  border: 8px black solid;
  background: transparent;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
}
.animated-buttons__five:hover::before {
  top: 0;
  left: 0;
}
.animated-buttons__five::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 110%;
  background: rgb(252, 166, 165);
  top: -20px;
  left: -20px;
  transition: all 0.3s ease;
}
.animated-buttons__six {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.animated-buttons__six:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}
.animated-buttons__six span {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  border-radius: 5px;
}
.animated-buttons__six span:active {
  top: 10px;
  background-color: #f78900;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}/*# sourceMappingURL=styles.css.map */