* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  align-items: center;
  gap: 10%;
}

.simple-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  gap: 20px;
}
.simple-buttons__title {
  text-align: center;
  grid-column: span 3;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
  width: 100%;
}
.simple-buttons__one {
  padding: 10px 30px;
  border-radius: 30px;
  border: 3px solid black;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__two {
  padding: 11px 21px;
  border-radius: 10px;
  border: none;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__three {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #2463eb;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__four {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2463eb;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.simple-buttons__four span {
  font-size: 20px;
  font-weight: 900;
}
.simple-buttons__five {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1), 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.simple-buttons__six {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(-45deg, #af54ee, #e549a3);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.animated-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  gap: 20px;
}
.animated-buttons__title {
  text-align: center;
  grid-column: span 3;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
  width: 100%;
}
.animated-buttons__one {
  padding: 11px 21px;
  border-radius: 10px;
  border: none;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.animated-buttons__one:hover {
  background-color: #fff;
  color: #1f2937;
  box-shadow: -1px -1px rgba(0, 0, 0, 0.1), 2px 2px rgba(0, 0, 0, 0.1);
}
.animated-buttons__two {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.animated-buttons__two:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: -2;
}
.animated-buttons__two:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.animated-buttons__two:hover {
  color: #fff;
}
.animated-buttons__two:hover:before {
  width: 100%;
}
.animated-buttons__six {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.animated-buttons__six:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.animated-buttons__six span {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.animated-buttons__six span:active {
  top: 10px;
  background-color: #f78900;
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

@font-face {
  font-family: "digital";
  src: url("../assets/digital-7.ttf");
}
.app {
  width: 350px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 30px 20px;
  border-radius: 20px;
}
.app__display {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #75c900;
  font-family: "digital";
  font-size: 42px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
}
.app__keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.app__keypad-key {
  font-size: 28px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 5px solid lightgray;
  border-right: 5px solid lightgray;
  border-radius: 5px;
  background-color: darkgray;
  color: white;
  transition: all 0.2s;
}
.app__keypad-key:active {
  background-color: lightgray;
  border: 2px solid gray;
}
.app__keypad-key:last-child {
  width: auto;
  grid-column: span 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: center;
  padding: 10%;
  border: 4px solid black;
  border-radius: 20px;
}
.container__title {
  grid-column: span 2;
  border-bottom: 4px dashed black;
  margin-bottom: 10px;
  margin-bottom: 10%;
}
.container a {
  text-decoration: none;
  font-size: 18px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 600;
}
.container a:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=index.css.map */
